
.ipynb_checkpoints/chapter-1-checkpoint.ipynb
A1/.ipynb_checkpoints/A1-python-jupyter-checkpoint.ipynb
A1/.ipynb_checkpoints/A1-python-jupyter-backup-checkpoint.ipynb
.ipynb_checkpoints/RE_&_wordtokenizing-checkpoint.ipynb
A2/test.py
*.json

A3/.ipynb_checkpoints/A2-probability-information-theory-checkpoint.ipynb

.ipynb_checkpoints/chapter5_nltk-checkpoint.ipynb

A3/.ipynb_checkpoints/A3-hmm-checkpoint.ipynb
.ipynb_checkpoints/A3-guide-checkpoint.ipynb
